<p id="notice"><%= notice %></p>
<h2>Details</h2>

<p>
  <b>Date Created:</b>
  <%= @favorite.created_at %>
</p>

<p>
  <b>Title:</b>
  <%= @favorite.title %>
</p>

<p>
  <b>URL:</b>
  <%= @favorite.url %>
</p>

<p>
  <b>Notes:</b>
  <%= @favorite.notes %>
</p>

<%= link_to 'Edit', edit_favorite_path(@favorite) %> |
<%= link_to 'Back', favorites_path %>
